h1{
    color:yellowgreen;
}

#p5Container{
    /*边距20px,上下间距30px*/
    margin: 20px 0 30px 0;
    /*边框宽度为1px,颜色为#ccc,样式为虚线*/
    border: 1px #ccc dashed;
    /*背景颜色为#f5f5f5*/
    background-color: #f5f5f5;
    /*内边距为20px*/
    padding: 20px;
}